:root {
  --color-blue: #09f;
  --color-white: #fff;
  --color-red: #f20;
  --color-dark: #333;
  --color-black: #000;
  --color-grey: #999;
  --color-grey--white: #ccc;
  --color-green: #07c160;
  --color-orange: #ff976a;
}

body {
  margin: 15px;
  overflow: hidden;
}
.control {
  position: relative;
  overflow-x: hidden;
  height: 40vh;
  margin: 5vw 0;
}

.line {
  display: block;
  width: 100%;
  position: relative;
  height: 1px;
  background-color: var(--color-grey);
  transform: scaleY(.5);
}

.select {
  width: 120px;
  height: 100%;
  box-sizing: border-box;
  line-height: 24px;
  padding: 0 10px;
  border: 1px solid #ccc;
  display: inline-block;
  position: relative;
  font-size: 14px;

  &:after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #333 transparent transparent transparent;
  }
}