.select {
  width: 120px;
  height: 100%;
  box-sizing: border-box;
  line-height: 24px;
  padding: 0 10px;
  border: 1px solid #ccc;
  display: inline-block;
  position: relative;
  font-size: 14px;

  &:after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: #333 transparent transparent transparent;
  }
}

.wo-overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  transition:all .5s ease-out;
  width: 100%;
  height: 100vh;
}

.wo-actionsheet {
  position: fixed;
  overflow-y: auto;
  background-color: #fff;
  width: 100%;
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transform: translate3d(0, 0, 0);
  color: #323233;
  max-height: 40%;
}

.wo-actionsheet__header {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #666;
  text-align: center;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.03125rem solid #ebedf0;
    transform: scaleY(0.5);
  }
}

.wo-actionsheet__content {
  position: relative;
  overflow-y: auto;
}

.height-12 {
  height: 12px;
  background-color: #666;
  margin: 0;
}

.action-sheet-item {
  margin: 0;
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  color: #333;
  transition-duration: none;

  &.active {
    color: var(--color-blue);
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.03125rem solid #ebedf0;
    transform: scaleY(0.5);
  }

  &.no-border{
    border: none;
  }
}

.wo-actionsheet__footer {
  position: relative;
}
